<!-- Home page design with large image to left of bio info. -->
{% assign essay_pages = site.pages | where: "type", "essay"  | where_exp: "page", "page.draft != true" %}
{% assign project_pages = site.pages | where: "type", "project" | where_exp: "page", "page.draft != true" %}
{% assign num_essays = essay_pages.size %}
{% assign num_projects = project_pages.size %}

<div style="height: 100%; margin-top: 0px !important" class="ui middle aligned two column centered stackable grid container" id="academic-home-container">

  <div style="text-align: center" class="column">
    <div  class="ui rounded image">
      <img style="max-width: 300px" src="/assets/brian_glasses.jpg">
      <div style="margin-top: 10px; font-style: italic; color: rgba(0,0,0,.4);">This is Brian Griffin from Family Guy, not me</div>
    </div>
  </div>

  <div class="column">
    <div style="margin-bottom: 14px; display:flex">
      <div >
        <h2 class="header no-bottom">{{ site.data.bio.basics.name }}</h2>
        <p class="">{{ site.data.bio.basics.label }}</p>
      </div>
      <div >
        <i id="music-note" class="icon music cursor animated-icon"></i>
      </div>
    </div>
    <p class="">
      {{ site.data.bio.basics.summary }}
    </p>
    <p>Research Interests:
      {% for interest in site.data.bio.interests %}
        {{ interest.name }}{% if forloop.last != true %}, {% endif %}
      {% endfor %}
    </p>
    <p style="text-align: center">
      {% include home-network-links.html %}
    </p>
    <p style="text-align: center">
      <a href="{{ site.baseurl}}/projects/">
        <button class="ui basic button">Projects ({{ num_projects }})</button>
      </a>
      <!-- <a href="{{ site.baseurl}}/essays/">
        <button class="ui basic button">Random Stuffs ({{ num_essays }})</button>
      </a> -->
      <a href="{{ site.baseurl}}/bio/">
        <button class="ui basic button">{{ site.bio-page-label }}</button>
      </a>
    </p>
  </div>
</div>

<div style="height: 100%; display: none; margin-top: 0px !important" class="ui middle aligned two column centered stackable grid container" id="music-home-container"> 

  <div style="text-align: center" class="column">
    <div  class="ui rounded image">
      <img style="max-width: 300px" src="/assets/brian_guitar.png">
      <div style="margin-top: 10px; font-style: italic; color: white;">This is Brian Griffin from Family Guy, not me</div>
    </div>
  </div>

  <div class="column">
    <div style="margin-bottom: 14px; display:flex">
      <div >
        <h2 class="header no-bottom">{{ site.data.bio.basics.name }}</h2>
        <p class="">Bedroom Guitarist</p>
      </div>
      <div >
        <i id="academic-book" class="icon book cursor animated-icon"></i>
      </div>
    </div>
    <p class="">
      I'm a self-taught bedroom guitarist. Sadly, I only play guitar covers and can't write good musics (for now xD).<br>
      I guess that you don't really care about this, but here is a (random) guitar cover ;) <br>
      <div class="videowrapper">
        <iframe id="youtube-player" src="" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <br>
      Please subscribe to my Youtube channel!
    </p>
    <p style="text-align: center">
      <a href="https://www.youtube.com/channel/UCh5UW19DQystikJtvBezsKA"> <i class="big youtube icon icon-white"></i> </a>
      <a href="https://soundcloud.com/hidevn"> <i class="big soundcloud icon icon-white"></i> </a>
    </p>
  </div>
</div>